<a href="https://colab.research.google.com/github/HyeeunKim07/Basic-Python/blob/main/Chapter_02_%EA%B8%B0%EC%B4%88_%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chapter 02_기초 문법**
**01. print**

파이썬에서 어떤 값을 출력할 때는 print를 사용해요!

print()의 형식으로 사용하며, 괄호 안에 숫자나 문자를 넣어 출력할 수 있어요.

* 주의할점: 문자를 넣을 때는 따옴표 ' ' 또는 쌍따옴표 " "를 꼭 해주어야 해요!

In [ ]:
print('Life is short and you need Python')

Life is short and you need Python

In [ ]:
print(3+5)

8

위처럼 숫자를 넣으면서, 사칙연산 기호를 같이 넣으면 값이 계산되어서 나온답니다!

같은 숫자여도 따옴표 안에 숫자를 넣으면 넣은 그대로 문자로 인식되기 때문에 그대로 나오게 되죠.

In [ ]:
print('3+5')

3+5

print로 여러가지 값을 동시에 출력하려면 쉼표(,)를 이용하면 된답니다.

In [ ]:
a = 'You'
b = 'need'
c = 'Python'
print(a, b, c)

You need Python

print를 이용해 여러 줄을 출력하기 위해서는 두 가지 방법이 있는데요

먼저 print 함수를 여러 번 쓰는 방법이 있고

다른 방법으로는 print()에서 괄호 안에 '''을 사용하는 거에요.

(''' 표시의 경우는 다음 챕터에서 다시 설명할게요!)

In [ ]:
print('''안녕하세요 저는 김혜은이고요
이걸 만들고 있는 사람이에요!
사실 챕터 순서가 이상하거나 내용 이해가 어려울 수 있는데
언제든지 피드백 해주세요!''')

안녕하세요 저는 김혜은이고요
이걸 만들고 있는 사람이에요!
사실 챕터 순서가 이상하거나 내용 이해가 어려울 수 있는데
언제든지 피드백 해주세요!

**02. input과 print(f' ')**

input 코드는 print와 비슷한데요, 데이터를 입력받을 수 있는 코드랍니다.

print(f ' ') 코드는 변수 데이터와 일반적인 글자를 함께 출력할 때 사용하는 코드입니다.

In [ ]:
name = input()
print(f'반갑습니다 {name}님')

스마트랩
반갑습니다 스마트랩님

**03. print 함수의 옵션**

함수의 옵션 함수를 보조하거나 변형하는 기능을 의미하며 help(함수이름)을 통해 확인할 수 있어요!

print 함수의 옵션 중 sep의 경우 출력하는 내용 사이사이에 다른 문자나 공백을 넣을 수 있답니다.

In [ ]:
a = 'You'
b = 'need'
c = 'Python'
print(a, b, c, sep="...")

You...need...Python