<a href="https://colab.research.google.com/github/HyeeunKim07/Basic-Python/blob/main/Chapter_04_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B3%BC_%EC%88%98%ED%95%99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chapter 04_파이썬과 수학**

**01. 리스트**

파이썬에는 대괄호 안에 숫자를 넣어 여러 개의 값을 동시에 할당할 수 있는데, 이를 리스트라고 합니다!

In [ ]:
number = [1,2,3,4,5,6,7]
print(number)

[1, 2, 3, 4, 5, 6, 7]

**02. sum**

덧셈을 할 때 하나하나 값을 더하지 않고도 함수를 사용해 덧셈을 할 수 있어요.

In [ ]:
number = [1, 2, 3]
sum(number)

# 또는

sum([1, 2, 3])

6

**03. Max와 min**

나중에 많은 값의 데이터를 다룰 경우, 최댓값과 최솟값을 찾아야 하는 경우가 있어요.

이럴 경우 Max와 min을 사용하면 편리하답니다!

* 괄호의 개수에 유의해야 해요!

In [ ]:
number = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(max(number))
print(min(number))

15
1