<a href="https://colab.research.google.com/github/HyeeunKim07/Basic-Python/blob/main/Chapter_01_%EB%B3%80%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chapter 01_변수**
**01. 변수란?**

변수는 '변하는 수'라는 뜻으로, 숫자나 문자와 같은 데이터를 저장하는 공간을 의미해요!

In [ ]:
a = 3
print(a)

3

이처럼 a라는 변수에 3이라는 숫자를 넣는 것을 '변수에 값을 할당한다'고 말해요.

이제 자신의 이름을 'name'이라는 변수에 할당한 뒤 출력해볼까요?

* 출력을 할 때는 print() 코드를 사용하는데, 이 부분은 뒤에서 다시 설명할게요!

In [ ]:
name = "스마트랩"
print(name)

스마트랩

**02. 문자열**

문자열은 어떤 숫자나 문자를 따옴표로 나타낸, 문자로 이루어진 데이터를 의미해요!

앞서 사용된 것처럼 한글과 같이 문자를 사용할 때에는 문자열로 나타내주어야 합니다.

나타내기 위해 내용의 앞과 뒤에 작은따옴표('), 큰따옴표("), 세 개의 작은따옴표('''), 세 개의 큰따옴표(""")를 사용해요!

In [ ]:
print('안녕하세요')
print("Chapter 01 변수에")
print('''오신 것을''')
print("""환영합니다""")

안녕하세요
Chapter 01 변수에
오신 것을
환영합니다

만약 말하고자 하는 문장 안에 따옴표가 있다면 두 가지 방법을 사용할 수 있어요!

1. 문장 내에서 사용되는 따옴표와 다른 따옴표 사용하기

2. 세 개의 따옴표를 이용하기

In [ ]:
# 1번에 대한 예제
print('호앙이가 "졸려"라고 말했어요')

호앙이가 "졸려"라고 말했어요

In [ ]:
# 2번에 대한 예제
print('''그러자 누군가 "그럼 자" 라고 했지만
호앙이는 "싫은데?"라고 했어요 ''')

그러자 누군가 "그럼 자" 라고 했지만
호앙이는 "싫은데?"라고 했어요

**02. 변수 지정 시 주의사항**

변수의 이름을 정할 때는 지켜야 하는 규칙이 있어요!

1. 영문과 숫자, 언더바(_)만 사용 가능해요.
2. 대소문자를 구분해서 사용해요.
3. 영문이나 언더바로 시작할 수 있지만, 숫자로는 시작할 수 없어요.
* 숫자로 시작하게 되면 invalid decimal literal 라는 오류가 떠요!
4. 특수문자나 파이썬에서 사용되는 키워드는 사용할 수 없어요.
* 파이썬에서 사용되는 키워드에는 print, for, if 등이 있어요.

In [ ]:
# 규칙 1번에 대한 예제
name_10 = 3
print(name_10)

3

In [ ]:
# 규칙 2번에 대한 예제
Name = 5
name = 7
print(Name)

5

In [ ]:
# 규칙 3번에 대한 예제
_name = 9
10_name = 7
print(10_name)

SyntaxError: ignored

In [ ]:
# 규칙 4번에 대한 예제
print = 10
print(print)

TypeError: ignored