<a href="https://colab.research.google.com/github/HyeeunKim07/Basic-Python/blob/main/from_scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Life is Short and You need Python

> 간단하게 만나보는 비단뱀 이야기

밑에 있는 셀에 `Shift + Enter`를 눌러 보세요!

In [ ]:
"I want to go home."

'I want to go home.'

In [ ]:
7 + 5, 7 - 5, 7 * 5, 7 / 5, 7 // 5, 7 ** 5, 7 % 5

(12, 2, 35, 1.4, 1, 16807, 2)

**문제 1.** (3 + 5) * 6을 파이썬으로 계산해 보세요!

In [ ]:
(3 + 5) * 6

48

파이썬을 포함한 여러 프로그래밍 언어에서는 변수에 값을 저장할 수 있어요.

변수의 **자료형**에는 숫자, 문자, 콜렉션(리스트, 튜플 등), 클래스 객체 등이 있어요.

In [ ]:
x = 3
x

3

In [ ]:
x + 7

10

In [ ]:
# 자료형 확인
type(x)

int

파이썬은 **동적 타입 언어**로, 변수의 자료형이 고정되지 않아요.

In [ ]:
x = 3.14
x

3.14

In [ ]:
type(x)

float

In [ ]:
# 여러 가지 데이터 타입
(
    type(3),
    type(3.14),
    type('SMARTLAB'),
    type((1, 2, 3)),
    type([1, 2, 3]),
    type(True)
)

(int, float, str, tuple, list, bool)

**문제 2.** 밑에 있는 셀을 수정해서, 그 밑에 있는 셀의 결과가 `1023`이 되도록 해 주세요.

In [ ]:
x = 0

In [ ]:
(x // 5) ** 10 - 1

제어문을 통해 프로그램의 진행을 분기할 수 있어요.

제어문은 `if [Boolean Expression]:` 형태로 작성하여 분기를 나눌 수 있어요.

In [ ]:
x = 3
x == 3, x != 3, x // 3 == 1

(True, False, True)

In [ ]:
x = 10

if x % 2 == 0:
    print("x는 짝수입니다.")
else:
    print("x는 홀수입니다.")

x는 짝수입니다.

In [ ]:
if True:
    print("True는 참입니다.")
else:
    print("False는 거짓입니다")

True는 참입니다.

제어문은 중첩해서 나타내는 것도 가능해요.

In [ ]:
x = 998244353

if x % 2 != 0:
    if x % 3 != 0:
        if x % 5 != 0:
            print("x는 거의 소수입니다.")
        else:
            print("x는 2와 3의 배수는 아니지만, 5의 배수입니다.")
    else:
        print("x는 2의 배수가 아니지만, 3의 배수입니다.")
else:
    print("x는 2의 배수입니다.")

x는 거의 소수입니다.

**문제 3.** `x`가 `1`이라면 `하나`, `2`라면 `둘`, `3`보다 크다면 `많다`를 출력하세요.

반복문을 통해 프로그램을 여러 번 반복할 수 있어요.

기본적인 반복문은 `for [반복 변수] in range([반복 횟수]):` 형태로 작성하여 분기를 나눌 수 있어요.

In [ ]:
for i in range(5):
    print(i ** 2)

0
1
4
9
16

반복문 역시 중첩할 수 있어요.

In [ ]:
lines = 7

for line in range(lines):
    for star in range(line + 1):
        print('*', end='')
    print()

*
**
***
****
*****
******
*******

**문제 4.** 반복문을 활용하여, 한 줄의 `lines`개의 `'*'`이 있는 `lines` 줄을 출력하세요. 예를 들어 `lines == 3`이라면 출력 결과는 `'*'`으로 이루어진 3*3의 정사각형이어야 합니다.

프로그램의 특정 부분을 감싸 함수로 만들고, 이를 활용할 수 있어요.

함수는 `def [함수 이름]([파라미터]...):`로 정의합니다.

함수는 값을 반환할 수 있으며, 값을 반환하는 순간 함수는 종료됩니다. `return [값]`을 통해 값을 반환할 수 있어요.

In [ ]:
# 인자를 받지 않고 값을 반환하지 않는 함수
def function1():
    pass

# 인자를 받고 값을 반환하지 않는 함수
def function2(x):
    print(x)

# 인자를 받지 않고 값을 반환하는 함수
def function3():
    return 3

# 인자를 받고 값을 반환하는 함수
def function4(x, y):
    return (x ** 2 + y ** 2) ** 0.5

In [ ]:
print("함수 실행 전")
returned = function1()
print("함수 실행 끝")
print(f"반환된 값: {returned}")

함수 실행 전
함수 실행 끝
반환된 값: None

In [ ]:
print("함수 실행 전")
returned = function2(3)
print("함수 실행 끝")
print(f"반환된 값: {returned}")

함수 실행 전
3
함수 실행 끝
반환된 값: None

In [ ]:
print("함수 실행 전")
returned = function3()
print("함수 실행 끝")
print(f"반환된 값: {returned}")

함수 실행 전
함수 실행 끝
반환된 값: 3

In [ ]:
print("함수 실행 전")
returned = function4(3, 4)
print("함수 실행 끝")
print(f"반환된 값: {returned}")

함수 실행 전
함수 실행 끝
반환된 값: 5.0

**문제 5.** 파라미터 `x`와 `y`를 입력으로 받아, 밑변이 `x`이고 높이가 `y`인 삼각형의 넓이를 반환하는 함수 `triangle_area`를 작성하세요.